In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

## Preprocess the data

In [2]:
## Read CSV file
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
### Drop irrelvant columns
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
## Encode categorical variable Gender
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data['Gender']

0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    0
9998    1
9999    0
Name: Gender, Length: 10000, dtype: int32

In [8]:
## One Hot Encode : Geography
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [9]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [12]:
## Split the data in training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
## Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
## Creating pickle files for Gender, Geography and Scaler pickle files

with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('oneHot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regression Problem Statement

In [16]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [17]:
## Build ANN Model
model = Sequential(
    [
        Dense(64, activation='relu', input_shape=(X_train.shape[1],)), # Hidden Layer 1 Connected with input layer
        Dense(32, activation='relu'), # Hidden Layer 2
        Dense(1) # Output layer
    ]
)

## compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

c:\Users\angad\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [19]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionLogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [20]:
## Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [21]:
## Train the model
history = model.fit(
    X_train, y_train, validation_data=(X_test, y_test), epochs=100,
    callbacks=[tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - loss: 101448.0312 - mae: 101448.0312 - val_loss: 98494.5312 - val_mae: 98494.5312
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 99406.8203 - mae: 99406.8203 - val_loss: 96890.0469 - val_mae: 96890.0469
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 98750.5156 - mae: 98750.5156 - val_loss: 92741.0000 - val_mae: 92741.0000
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 93164.7031 - mae: 93164.7031 - val_loss: 85801.0547 - val_mae: 85801.0547
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 85877.7812 - mae: 85877.7812 - val_loss: 76967.5078 - val_mae: 76967.5078
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 76430.0391 - mae: 76430.0391 - val_loss: 68043.3828 - val_mae: 68043.3828
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 67389.7500 - mae: 67389.7500 - val_loss: 60554.0469 - val_mae: 60554.0469
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 59747.8555 - mae: 59747.8555 - val_loss: 55454.7773 - val_mae: 55454.7773
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 55089.7539 - mae: 55089.7539 - val_loss: 52734.1641 - val_mae: 52734.1641
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 53028.7305 - mae: 53028.7305 - val_loss: 51554.8789 - val_mae: 51554.8789
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51005.1523 - mae: 51005.1523 - val_loss: 51133.9883 - val_mae: 51133.9883
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 51065.5469 - mae: 51065.5469 - val_loss: 50977.8906 - val_mae: 50977.8906
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50026.0000 - mae: 50026.0000 - val_loss: 50898.1719 - val_mae: 50898.1719
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50767.2539 - mae: 50767.2539 - val_loss: 50818.8672 - val_mae: 50818.8672
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50154.5781 - mae: 50154.5781 - val_loss: 50757.9531 - val_mae: 50757.9531
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50917.9023 - mae: 50917.9023 - val_loss: 50718.1953 - val_mae: 50718.1953
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50686.5195 - mae: 50686.5195 - val_loss: 50670.0898 - val_mae: 50670.0898
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50312.2617 - mae: 50312.2617 - val_loss: 50636.8633 - val_mae: 50636.8633
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49517.6836 - mae: 49517.6836 - val_loss: 50609.9531 - val_mae: 50609.9531
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49704.4648 - mae: 49704.4648 - val_loss: 50585.2266 - val_mae: 50585.2266
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49903.6719 - mae: 49903.6719 - val_loss: 50558.5078 - val_mae: 50558.5078
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50363.8438 - mae: 50363.8438 - val_loss: 50547.7539 - val_mae: 50547.7539
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49753.4258 - mae: 49753.4258 - val_loss: 50541.2383 - val_mae: 50541.2383
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49859.3672 - mae: 49859.3672 - val_loss: 50517.6797 - val_mae: 50517.6797
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49178.9492 - mae: 49178.9492 - val_loss: 50496.2344 - val_mae: 50496.2344
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49490.6211 - mae: 49490.6211 - val_loss: 50480.4609 - val_mae: 50480.4609
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49582.3984 - mae: 49582.3984 - val_loss: 50464.4648 - val_mae: 50464.4648
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49745.8008 - mae: 49745.8008 - val_loss: 50456.1602 - val_mae: 50456.1602
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50336.0039 - mae: 50336.0039 - val_loss: 50436.7031 - val_mae: 50436.7031
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49560.7500 - mae: 49560.7500 - val_loss: 50436.5586 - val_mae: 50436.5586
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50017.1758 - mae: 50017.1758 - val_loss: 50423.8477 - val_mae: 50423.8477
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49801.4922 - mae: 49801.4922 - val_loss: 50419.4688 - val_mae: 50419.4688
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49928.9336 - mae: 49928.9336 - val_loss: 50409.7109 - val_mae: 50409.7109
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49505.7852 - mae: 49505.7852 - val_loss: 50404.6406 - val_mae: 50404.6406
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49932.8945 - mae: 49932.8945 - val_loss: 50398.2422 - val_mae: 50398.2422
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49338.9883 - mae: 49338.9883 - val_loss: 50387.7773 - val_mae: 50387.7773
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50056.5703 - mae: 50056.5703 - val_loss: 50384.6289 - val_mae: 50384.6289
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49494.7539 - mae: 49494.7539 - val_loss: 50376.9258 - val_mae: 50376.9258
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49271.9805 - mae: 49271.9805 - val_loss: 50383.2617 - val_mae: 50383.2617
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49798.5703 - mae: 49798.5703 - val_loss: 50379.9336 - val_mae: 50379.9336
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49060.6875 - mae: 49060.6875 - val_loss: 50383.5234 - val_mae: 50383.5234
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49208.5664 - mae: 49208.5664 - val_loss: 50407.6680 - val_mae: 50407.6680
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49487.7422 - mae: 49487.7422 - val_loss: 50374.2188 - val_mae: 50374.2188
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49437.5586 - mae: 49437.5586 - val_loss: 50371.6016 - val_mae: 50371.6016
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 50008.3750 - mae: 50008.3750 - val_loss: 50382.0391 - val_mae: 50382.0391
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49522.3398 - mae: 49522.3398 - val_loss: 50378.6758 - val_mae: 50378.6758
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49213.8086 - mae: 49213.8086 - val_loss: 50381.8789 - val_mae: 50381.8789
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49249.9414 - mae: 49249.9414 - val_loss: 50377.2969 - val_mae: 50377.2969
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 48934.9219 - mae: 48934.9219 - val_loss: 50369.9648 - val_mae: 50369.9648
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49787.3281 - mae: 49787.3281 - val_loss: 50386.3281 - val_mae: 50386.3281
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49275.1289 - mae: 49275.1289 - val_loss: 50378.6875 - val_mae: 50378.6875
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49840.5078 - mae: 49840.5078 - val_loss: 50376.4375 - val_mae: 50376.4375
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49345.7383 - mae: 49345.7383 - val_loss: 50386.1406 - val_mae: 50386.1406
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49781.7969 - mae: 49781.7969 - val_loss: 50380.0156 - val_mae: 50380.0156
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49319.7578 - mae: 49319.7578 - val_loss: 50374.3867 - val_mae: 50374.3867
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49165.4062 - mae: 49165.4062 - val_loss: 50392.4219 - val_mae: 50392.4219
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49539.2031 - mae: 49539.2031 - val_loss: 50394.6094 - val_mae: 50394.6094
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - loss: 49710.9844 - mae: 49710.9844 - val_loss: 50385.8984 - val_mae: 50385.8984
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 49665.1719 - mae: 49665.1719 - val_loss: 50390.1758 - val_mae: 50390.1758

In [23]:
%load_ext tensorboard

In [27]:
%tensorboard --logdir regressionLogs/fit

Reusing TensorBoard on port 6006 (pid 15076), started 0:00:18 ago. (Use '!kill 15076' to kill it.)

In [28]:
## Evaluate model on test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51241.3242 - mae: 51241.3242
Test MAE : 50369.96484375

In [29]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.